/* Primary Color : #ffff00 */
body{
    margin: 0px;
}
/* Start Header Style */
header h1{
    background-color: #ffff00;
    font-family: 'Pacifico', cursive;
    color: black;
    margin: -20px -20px 20px -20px;
    text-align: center;
    padding: 20px 15px 15px 15px;
}
/* End Header Style */

/* Start Main Style */
main section{
    margin: 0px 60px 20px 60px;
}
main section h3{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    padding: 10px;
    width: 300px;
    margin-left: -12px;
}
main section p{
    line-height: 30px;
    padding: 0% 60px;
    font-size: 20px;
}
main ol{
    padding: 0% 80px;
    font-size: 18px;
}
main ol #olgroup1{
    width: 50%;
    float: left;
    padding-bottom: 10px;
}
main ol #olgroup2{
    width: 50%;
    float: left;
    padding-bottom: 10px;
}
main #imagesSection{
    margin-left: 65px;
    margin-top: 350px;
}
main #imagesSection p{
    font-family: cursive,'Pacifico','Acme';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 17.3px;
    padding-right: 50px;
    padding-left: 50px;
}
main #imagesSection form{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 3%;
}
main #imagesSection form label, main #imagesSection form input{
    margin-right: 25px;
}
main #imagesSection form input[type = submit]:hover{
    background-color:  #ffff00;
}
main #imagesSection img{
    width: 300px;
    height: 300px;
    padding-right: 50px;
    padding-left: 50px;
}
main ul li{
    padding: 10px;
    font-weight: bold;
}
/* End Main Style */

/* Start Footer Style */
footer{
    background-color: #ffff00;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 15px;
    margin: -20px -20px -20px -20px;
}
/* End Footer Style */